@import "tailwindcss";

@theme {
  --color-accent: #0066cc;
  --color-bg-main: #ffffff;
  --color-text-main: #1d1d1f;
}

body {
  background-color: #fafafa;
  color: #1d1d1f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .input-clean {
    @apply w-full bg-white border border-gray-200 focus:border-blue-500 focus:ring-4 focus:ring-blue-500/10 py-4 px-5 rounded-2xl transition-all outline-none text-gray-800 text-lg;
  }

  .btn-apple {
    @apply bg-[#1d1d1f] text-white hover:bg-black active:scale-[0.98] transition-all duration-300 font-semibold rounded-2xl shadow-sm hover:shadow-xl;
  }

  .label-minimal {
    @apply text-[13px] font-semibold text-gray-400 uppercase tracking-wider mb-2 block ml-1;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
